body{
    background-color: rgb(238, 159, 159);
}
*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

.contain-flex{
display: flex;
}
/****header*******
******************/

.dimension_ball, .red, .yellow, .green{
    width: 10px;
    height: 10px;
    background-color: chartreuse;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
}
.meeting span{
    height: 20px;
    width: 100px;
    background-color: gray;
    border: 4px solid white
}
